<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="layout :: sidebar"></div>
        <div th:replace="layout :: top-nav"></div>
        <div class="right_col" role="main" >
            <div class="clearfix"></div>
            <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h4>Stripped table </h4>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nazwa</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="inv, iter : ${inventoryList}">
                                <th th:text="${iter.index +1}"></th>
                                <td th:text="${inv.name}"></td>
                                <td th:if="${inv.state}">
                                    <button class="btn btn-danger btn-xs">DOWN  <i class="fa fa-exclamation-triangle"></i></button>
                                </td>
                                <td th:if="${!inv.state}">
                                    <button class="btn btn-success btn-xs">UP <i class="fa fa-check"></i></button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>