<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="layout :: sidebar"></div>
        <div th:replace="layout :: top-nav"></div>
        <!-- page content -->
        <div class="right_col" role="main">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Nazwa switcha</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Ostatnia godzina</a>
                                            </li>
                                            <li><a href="#">Ostatnie 24h</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="chart"></div>
                                <div id="chart2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
</div>
<div th:replace="layout :: scripts"></div>
<script>
    window.onload = function(e){
        $.ajax({
            url: "chart?iface=openflow:4:2",
            type: "GET",
            success: function(data)
            {
                for (var j = 0; j < data.length; j++) {
                    for (var i = 0; i < data[j].length; i++) {
                        data[j][i].date = new Date(data[j][i].date);
                    }
                }

                MG.data_graphic({
                    title: "Openflow:3:1",
                    data: data,
                //    y_scale_type: 'log',
                    width: 700,
                    height: 300,
                    target: '#chart',
                    legend: ['Inbound', 'Outbound'],
                    legend_target: '.legend',
                    missing_is_hidden: true,
                    missing_is_hidden_accessor: 'dead',
                    area: [false, true]
                });
            }
        });

        $.ajax({
            url: "chart?iface=openflow:4:3",
            type: "GET",
            success: function(data)
            {
                for (var j = 0; j < data.length; j++) {
                    for (var i = 0; i < data[j].length; i++) {
                        data[j][i].date = new Date(data[j][i].date);
                    }
                }

                MG.data_graphic({
                    title: "Openflow:3:1",
                    data: data,
                    //    y_scale_type: 'log',
                    width: 700,
                    height: 300,
                    target: '#chart2',
                    legend: ['Inbound', 'Outbound'],
                    legend_target: '.legend',
                    missing_is_hidden: true,
                    missing_is_hidden_accessor: 'dead',
                    area: [false, true]
                });
            }
        });
    };
</script>
</body>
</html>